.desktop-1-child {
    position: absolute;
    top: 684px;
    left: 25px;
    box-shadow: 12.166666984558105px -12.166666984558105px 12.17px rgba(165, 165, 165, 0.1) inset, -12.166666984558105px 12.166666984558105px 12.17px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(24.33px);
    background-color: rgba(217, 217, 217, 0.1);
    width: 1385px;
    height: 625px;
}
.replicate-prediction-sg2ap2znw-icon {
    position: absolute;
    top: 555px;
    left: 813px;
    width: 779px;
    height: 772px;
    object-fit: cover;
}
.desktop-1-item {
    position: absolute;
    top: 1351px;
    left: 25px;
    box-shadow: 12.166666984558105px -12.166666984558105px 12.17px rgba(165, 165, 165, 0.1) inset, -12.166666984558105px 12.166666984558105px 12.17px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(24.33px);
    background-color: rgba(217, 217, 217, 0.1);
    width: 1375px;
    height: 484px;
}
.replicate-prediction-yxkqwy8ae-icon {
    position: absolute;
    top: 1388px;
    left: -134px;
    width: 923px;
    height: 400px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.desktop-1-inner {
    position: absolute;
    top: 1877px;
    left: 25px;
    box-shadow: 12.166666984558105px -12.166666984558105px 12.17px rgba(165, 165, 165, 0.1) inset, -12.166666984558105px 12.166666984558105px 12.17px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(24.33px);
    background-color: rgba(217, 217, 217, 0.1);
    width: 1375px;
    height: 484px;
}
.replicate-prediction-er1g66de4-icon {
    position: absolute;
    top: 1826px;
    left: 685px;
    width: 877px;
    height: 678px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.ellipse-div {
    position: absolute;
    bottom: 2388px;
    left: calc(50% - 340px);
    filter: blur(300px);
    border-radius: 50%;
    background-color: #00ff0a;
    width: 700px;
    height: 700px;
    opacity: 0.7;
}
.desktop-1-child1 {
    position: absolute;
    bottom: 1601px;
    left: calc(50% - 357px);
    filter: blur(300px);
    border-radius: 50%;
    background-color: #00ff0a;
    width: 700px;
    height: 700px;
    opacity: 0.7;
}
.desktop-1-child2 {
    position: absolute;
    bottom: 853px;
    left: calc(50% - 357px);
    filter: blur(300px);
    border-radius: 50%;
    background-color: #00ff0a;
    width: 700px;
    height: 700px;
    opacity: 0.7;
}
.desktop-1-child3 {
    position: absolute;
    bottom: 17px;
    left: calc(50% - 357px);
    filter: blur(300px);
    border-radius: 50%;
    background-color: #00ff0a;
    width: 700px;
    height: 700px;
    opacity: 0.7;
}
.rectangle-div {
    position: absolute;
    top: -47px;
    left: -14px;
    box-shadow: 12.166666984558105px -12.166666984558105px 12.17px rgba(165, 165, 165, 0.1) inset, -12.166666984558105px 12.166666984558105px 12.17px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(24.33px);
    background-color: rgba(217, 217, 217, 0.1);
    width: 1385px;
    height: 625px;
}
.cureapt {
    position: absolute;
    top: -80px;
    left: 833px;
    font-size: 24px;
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 338px;
    height: 67px;
}
.home {
    position: absolute;
    top: 57px;
    left: 1035px;
}
.home1 {
    position: absolute;
    top: -56px;
    left: 1809px;
}
.login {
    position: absolute;
    top: 57px;
    left: 1301px;
}
.login1 {
    position: absolute;
    top: -56px;
    left: 2075px;
}
.about-us {
    position: absolute;
    top: 57px;
    left: 1194px;
}
.about-us1 {
    position: absolute;
    top: -56px;
    left: 1968px;
}
.dashboard {
    position: absolute;
    top: 57px;
    left: 1097px;
}
.dashboard1 {
    position: absolute;
    top: -56px;
    left: 1871px;
}
.desktop-1-child4 {
    position: absolute;
    top: 47px;
    left: 1279px;
    border-radius: 25px;
    background-color: #202020;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 84px;
    height: 38px;
    opacity: 0.7;
    mix-blend-mode: difference;
}
.desktop-1-child5 {
    position: absolute;
    top: -66px;
    left: 2053px;
    border-radius: 25px;
    background-color: #202020;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 84px;
    height: 38px;
    opacity: 0.7;
    mix-blend-mode: difference;
}
.health-wins {
    margin: 0;
}
.span {
    color: #a91d3a;
}
.one {
    font-weight: 900;
}
.streak {
    text-decoration: underline;
    font-family: 'Sedgwick Ave Display';
    color: #4e4feb;
}
.at-a-time1 {
    color: #4e4feb;
}
.at-a-time {
    font-weight: 900;
    font-family: Rubik;
}
.health-wins-one-container {
    position: absolute;
    top: 203px;
    left: 270px;
    font-size: 80px;
    letter-spacing: 0.02em;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25) inset);
    opacity: 0.8;
    color: #4e4feb;
    font-family: Rubik;
}
.play-your-way {
    position: absolute;
    top: 409px;
    left: 425px;
    font-size: 40px;
    letter-spacing: 0.02em;
    font-family: 'Rozha One';
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    width: 590px;
    opacity: 0.8;
}
.play-your-way1 {
    position: absolute;
    top: 409px;
    left: 380px;
    font-size: 40px;
    letter-spacing: 0.02em;
    font-family: 'Rozha One';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 679px;
    height: 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
}
.sign-up {
    position: relative;
    line-height: 100%;
    font-weight: 600;
}
.button {
    box-shadow: -6px 6px 0px #000;
    background-color: #000;
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 18px;
}
.hovertrue {
    width: 184px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 4px;
    box-sizing: border-box;
}
.oldschool-button {
    position: absolute;
    top: 482px;
    left: 685px;
    border-radius: 5px;
    height: 99px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 8px 0px 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: 'Source Code Pro';
}
.button1 {
    box-shadow: -6px 6px 0px #000;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 18px;
}
.hovertrue1 {
    width: 141px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 4px;
    box-sizing: border-box;
}
.oldschool-button1 {
    position: absolute;
    top: 478px;
    left: 555px;
    border-radius: 5px;
    width: 142px;
    height: 73px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 8px 16px 16px;
    text-align: left;
    font-size: 14px;
    font-family: 'Source Code Pro';
}
.icon-leaf {
    position: absolute;
    height: 1.8%;
    width: 2.71%;
    top: -2.75%;
    right: 37.01%;
    bottom: 100.94%;
    left: 60.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.about-us2 {
    position: absolute;
    top: 717px;
    left: 626px;
    font-size: 40px;
    line-height: 28px;
    display: inline-block;
    font-weight: 200;
    font-family: Supreme;
    width: 187px;
    height: 34px;
}
.key-features {
    position: absolute;
    top: 1366px;
    left: 626px;
    font-size: 40px;
    line-height: 28px;
    display: inline-block;
    font-weight: 200;
    font-family: Supreme;
    width: 187px;
    height: 72px;
}
.our-ai-driven-gamified {
    position: absolute;
    top: 797px;
    left: 119px;
    font-size: 32px;
    display: inline-block;
    font-family: K2D;
    text-align: left;
    width: 773px;
    height: 385px;
    text-shadow: 0px 4px 7.1px rgba(0, 0, 0, 0.25);
}
.personalized-ai-generated-plan {
    margin: 0;
    font-size: 36px;
    font-family: Laila;
}
.custom-diet-calorie-and-work {
    margin: 0;
    padding-left: 43px;
}
.personalized-ai-generated-plan-container {
    position: absolute;
    top: 1464px;
    left: 558px;
    display: inline-block;
    width: 773px;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-family: K2D;
}
.fun-challenges-badges-and-po {
    margin-bottom: 0px;
}
.streak-system-to-reward-users {
    margin: 0;
    font-family: K2D;
    font-size: 32px;
    padding-left: 43px;
}
.engaging-gamification-elements-container {
    position: absolute;
    top: 1941px;
    left: 90px;
    display: inline-block;
    width: 773px;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-family: Laila;
}
.desktop-1-child6 {
    position: absolute;
    top: 2403px;
    left: 32px;
    border-radius: 100px;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0.8) 0.4%, #d9d9d9);
    width: 1375px;
    height: 636px;
}
.contact-us {
    position: absolute;
    top: 2467px;
    left: 615px;
    font-size: 40px;
    color: #fff;
}
.ajay-yadav-abuntyyadav277gmai-container {
    position: absolute;
    top: 2533px;
    left: 90px;
    font-size: 24px;
    font-weight: 200;
    font-family: Supreme;
    color: #fff;
}
.akul-tyagi-akultyagi7gmailco-container {
    position: absolute;
    top: 2533px;
    left: 452px;
    font-size: 24px;
    font-weight: 200;
    font-family: Supreme;
    color: #fff;
}
.aditya-chaurasia-adichaurasia9-container {
    position: absolute;
    top: 2533px;
    left: 721px;
    font-size: 24px;
    font-weight: 200;
    font-family: Supreme;
    color: #fff;
}
.abhay-singh-abhaysingh1227gma-container {
    position: absolute;
    top: 2533px;
    left: 1062px;
    font-size: 24px;
    font-weight: 200;
    font-family: Supreme;
    color: #fff;
}
.cureapt1 {
    position: absolute;
    top: 52px;
    left: 82px;
    font-size: 14px;
    font-family: 'Press Start 2P';
    text-align: left;
}
.desktop-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2900px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-family: Junge;
}

